.content
  %h2.title
    = t('shared.dashboard')
    \-
    =current_user.name
  .inner
    = form_tag update_status_dashboard_path, :method => :put, :class => 'form' do
      #status 
        .title= t('dashboard.status')
        .input= text_field_tag :status, current_user.status, :maxlength => 100, :class => 'text-field'
        %button{:type => 'submit', :class => 'button small_button', :id => 'save' }=t('shared.update')   
    %br.clear
    %br.clear
    %h3= t('dashboard.recent_updates')
    #tabs
      %ul
        %li=link_to t('dashboard.all'), "#all"
        %li=link_to t('users.plural'), "#users"
        %li=link_to t('groups.plural'), "#groups"
      #all
        = render :partial => 'list', :locals => {:feed => @feed}
      #users
        = render :partial => 'list', :locals => {:feed => @feed.find_all{|u| u.from_user?}}
      #groups
        = render :partial => 'list', :locals => {:feed => @feed.find_all{|u| u.from_group?}}
        
    .actions-bar.wat-cf
      .actions
      .pagination
        = paginate @feed