.content
  %h2.title
    = t('shared.dashboard')
    \-
    =current_user.name
  .inner
    = form_tag update_status_dashboard_path, :method => :put, :class => 'form' do
      #status 
        .title= t('dashboard.status')
        .input= text_field_tag :status, current_user.status, :maxlength => 100, :class => 'text-field'
        =submit_button(true) do
          =t('shared.update')   
    %br.clear
    %br.clear
    %h3= t('dashboard.recent_updates')
    #tabs
      #infinite-scroll.none
      %ul
        %li=link_to t('dashboard.all'), "#all", :target => 'all'
        %li=link_to t('users.plural'), "#user", :target => 'user'
        %li=link_to t('groups.plural'), "#group", :target => 'group'
        %li=link_to t('forums.plural'), "#forum", :target => 'forum'
      #all
        = render :partial => 'list', :locals => {:feed => @feed}
      #user
        = render :partial => 'list', :locals => {:feed => @feed, :type => 'user'}
      #group
        = render :partial => 'list', :locals => {:feed => @feed, :type => 'group'}
      #forum
        = render :partial => 'list', :locals => {:feed => @feed, :type => 'forum'}