%h3.no-top
  =link_to t('groups.singular'), 'javascript:void(0)', :onclick => "$('#forums').slideUp(); $('#group_show').slideDown()"
  \->
  = t('forums.plural')
- if current_user && current_user.leader_of?(parent)
  .fr= action_button t('forums.new'), 'add-forum', :path => new_group_forum_path(parent), :remote => true
  %br.clear
  %br.clear
- unless collection.blank?
  %table.datatable.full.no-style{:style => 'width:110%'}
    %thead
      %tr
      %th{:width => '60%'}= t('forums.singular')
      %th{:width => '25%'}= t('forums.last_post')
      - if current_user && current_user.leader_of?(parent)
        %th{:width => '15%'}
    %tbody
      - collection.each do |resource|
        %tr{:id => resource.id}
          %td
            = link_to resource.title, group_forum_path(parent, resource), :remote => true
            .gray= resource.description
          %td
            - unless resource.posts.blank?
              = link_to "#{time_ago_in_words(resource.last_post.created_at)} #{t('shared.ago')}", post_path(resource.last_post), :remote => true
              %br
              = t('shared.in')
              = link_to resource.last_post.topic.to_s.truncate(50), topic_path(resource.last_post.topic), :remote => true
              %br
              = t('shared.by')
              = link_to resource.last_post.author, resource.last_post.author
            - else
              = t('forums.no_last_post')
          - if current_user && current_user.leader_of?(parent)
            %td.center
              %ul.action-buttons
                %li=action_link '', :edit, :path => edit_group_forum_path(parent, resource), :title => t('forums.edit'), :remote => true
                %li=action_link '', :remove, :path => group_forum_path(parent, resource), :method => :delete, :confirm => t('forums.are_you_sure'), :title => t('forums.delete'), :remote => true
- else
  =t('forums.blank')