.content
  %h2.title= resource.title
  .inner
    .right.spaced= button_to_icon :message, t('topics.new'), new_group_forum_topic_path(@group, @forum)
    %br.clear
    - unless @topics.blank?
      %table.table
        %tr
          %th.first
          %th= t('topics.singular')
          %th= t('topics.posts_count')
          %th= t('topics.last_post')
        = render @topics
    - else
      =t('topics.blank')
    .actions-bar.wat-cf
      .actions
      .pagination
        = paginate @topics