.block
  .content
    %h2.title
      = t 'shared.edit'
      = t 'shared.profile'
    .inner
      = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => :form }) do |f|
        = f.input :login, :required => false
        = f.input :name, :required => false
        = f.input :email, :required => false
        - if current_user.has_no_password
          = f.input :password, :required => false, :hint => t('devise.no_password')
        - else
          = f.input :password, :required => false
        = f.input :password_confirmation
        = f.input :current_password, :required => true unless current_user.has_no_password
        %br      
        .group.navform.wat-cf
          %button.button{:type => 'submit'}
            = image_tag("icons/tick.png", :alt => t('shared.update')) 
            = t('shared.update')
          = link_to user_path(resource), :class => "button" do
            = image_tag("icons/back.png", :alt => t('shared.back'))
            = t('shared.back')     
      %br
        	
      = link_to t('account.cancel'), registration_path(resource_name), :confirm => t('shared.confirm'), :method => :delete
