<div id="box">
<div class="block" id="block-signup"> 
	<h2>Sign up</h2> 
	<div class="content"> 
		<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form'}) do |f| %>
	    <%= f.input :login %>
		<%= f.input :name %>
		<%= f.input :email %>
		<%= f.input :password %>
		<%= f.input :password_confirmation %>
	    <div class="group navform wat-cf"> 
	      <button class="button" type="submit"> 
	        <%=image_tag("web-app-theme/tick.png", :alt => "Signup")%>  Signup
	      </button> 
	    </div> 
	  <% end %> 
	  <%= render :partial => "devise/shared/links" %>
	</div> 
</div>
</div>
