= f.simple_fields_for :document do |document|
  = document.input :name
  = document.input :description, :as => :text
  - if resource.document.persisted?
    = label_tag :current_file
    %br.clear
    .left.spaced{:style => 'width:auto'}
      = link_to document_icon_for(resource.document), resource.document.file_url
      %br
      .center= file_size_from_bytes(resource.document.file_size)
    %br.clear
    %br.clear
      = document.input :file, :as => :file, :required => false, :hint => raw("#{t('custom_messages.file_maximum')}<br/>#{t('custom_messages.file_extensions')}")
  - else
    = document.input :file, :as => :file, :hint => raw("#{t('custom_messages.file_maximum')}<br/>#{t('custom_messages.file_extensions')}")
%br      
.group.navform.wat-cf
  = submit_button do
    = image_tag("icons/tick.png", :alt => t('shared.submit')) 
    = t('shared.submit')