.content
  %h2.title 
    = t('documents.my_documents')
  .inner
    - unless collection.blank?
      %table.table
        %tr
          %th.first
          %th= t('documents.name')
          %th= t('documents.size')
          %th= t('documents.description')
          %th.last
        - collection.each do |resource|
          %tr{:class => cycle("odd","even")}
            %td.first= link_to document_icon_for(resource), resource.file_url, :title => t('shared.click_to_download') 
            %td= resource
            %td= file_size_from_bytes resource.file_size
            %td= resource.description
            %td
              = link_to t('shared.edit'), edit_resource_url(resource), :class => "button" if current_user.uploaded_document?(resource) 
              %br.clear
              %br.clear
              = link_to t('users.documents.remove'), remove_user_document_path(current_user,resource), :method => :delete, :class => "button" 
      .actions-bar.wat-cf
        .actions
        .pagination
          = paginate collection  
    -else
      %p=t('users.documents.blank')
    