= f.input :title
= f.simple_fields_for :post do |post|
  = post.input :text, :as => :text
%br.clear  
%div{:style => 'margin-left: 170px'}=textile_guide
%br.clear
.action
  = submit_button(:style => 'float:none !important') do
    = t('shared.submit')
%br.clear