%h3.no-top
  =link_to t('groups.singular'), 'javascript:void(0)', :id => 'group-breadcrumb', :class => 'custom-history', :'data-history' => group_path(resource.forum.group)
  \->
  =link_to t('forums.plural'), group_forums_path(resource.forum.group), :remote => true, :class => 'history'
  \->
  = t('topics.new')
  = t('shared.for')
  = link_to resource.forum, group_forum_path(resource.forum.group, resource.forum), :remote => true, :class => 'history'
%br.clear
#errors.message.alert{:style => 'display:none'}
= simple_form_for(resource, :url => group_forum_topics_url, :html => { :method => :post, :class => 'form grid_6', :style => 'margin-left: -70px'}, :remote => true) do |f|
  = render :partial => "form", :locals => {:f => f, :parent => parent}