= f.simple_fields_for :document do |document|
  = document.input :name
  = document.input :description, :as => :text
  = document.input :file, :as => :file, :hint => raw("#{t('custom_messages.file_maximum')}<br/>#{t('custom_messages.file_extensions')}")
= f.association :module, :collection => @group.modules, :prompt => t('groups.documents.blank_prompt')

%br      
.group.navform.wat-cf
  %button.button{:type => 'submit'}
    = image_tag("icons/tick.png", :alt => t('shared.submit')) 
    = t('shared.submit')