= f.simple_fields_for :document do |document|
  = document.input :name
  = document.input :description, :as => :text
  = document.input :file, :as => :file, :hint => raw("#{t('custom_messages.file_maximum', :size => Document::MAXIMUM_FILE_SIZE_MB)}<br/>#{t('custom_messages.file_extensions')}")
%br.clear
.action
  = submit_button(:style => 'float:none !important') do
    = t('shared.submit')
%br.clear