%table.table{:class => hide ? 'none' : ''}
  %tr
    %th.first
    %th= t('documents.name')
    %th= t('modules.singular')
    %th= loading_icon
  - documents.each do |document|
    %tr{:class => cycle("odd","even"), :id => document.id}
      %td.first= link_to document_icon_for(document.document, true), document.file_url, :title => t('shared.click_to_download')
      %td= document.name
      %td.module
        .name= document.module.blank? ? t('groups.documents.blank_prompt') : document.module.name
        = simple_form_for document, :url => group_document_path(@group,document), :remote => true do |f|
          = f.association :module, :collection => @group.modules_with_blank, :prompt => false, :label => false, :input_html => {:class => 'update-module none'}
      %td
        - if document.pending?
          =link_to_icon :check, t('groups.documents.accept'), accept_group_document_path(document.group, document), :method => :put, :remote => :true, :id => "accept_#{document.id}", :class => 'accept'
        =link_to_icon :user, "#{t('groups.documents.sender')} - #{document.sender}", document.sender
        =link_to_icon :edit, t('groups.documents.edit_module'), 'javascript:void(0)', :class => 'edit-module'
        =link_to_icon :remove, t('groups.documents.remove'), group_document_path(document.group, document), :method => :delete, :remote => :true, :confirm => t('groups.documents.sure'), :id => "remove_#{document.id}"