= f.input :name
= f.input :description
- if resource.persisted?
  = label_tag :current_image
  %br.clear
  .left.spaced= image_tag resource.image_url
  %br.clear
= f.input :image, :as => :file, :hint => raw("#{t('custom_messages.image_maximum')}<br/>#{t('custom_messages.image_extensions')}")      

%h3= t('modules.plural')
= f.simple_fields_for :modules do |mod|
  = render 'module_fields', :f => mod
.links
  = link_to_add_association t('modules.add'), f, :modules
%br
%br
.group.navform.wat-cf
  = submit_button do
    = image_tag("icons/tick.png", :alt => t('shared.submit')) 
    = t('shared.submit')