%li.custom.clearfix
  .avatar= image_tag group.image_url
  = link_to "&raquo;", group_path(group), :class => "more"
  %span.timestamp= group.created_at.strftime("%b %d, %Y")
  = link_to group.name, group_path(group), :class => "name"
  .entry-meta
    = t('groups.led_by') 
    = preview_link group.leader, group.leader
    %br
    = partial 'groups/actions', :group => group