- filter ||= nil; type ||= nil; id ||= nil;
- unless collection.blank?
  #infinite-scroll.none
  %ul.listing.list-view.clearfix.endless{'data-url' => groups_path(:filter => @filter, :type => type, :id => id)}
    = render collection
  .center= loading_icon
- else
  %p.center
    - case type.to_s
    - when 'user'
      = t('groups.blank.users')
    - when 'document'
      = t('groups.blank.documents')
    - else
      = t('groups.blank.any')