.preview-pane.grid_3.omega
  .content
    %h3= t('tips.self')
    #group-tips
      .message.info
        %h3= t('tips.groups.tip3')
        = tip_icon
        %p=t('tips.groups.tip3_text')
      .message.info
        %h3= t('tips.groups.tip')
        = tip_icon
        %p=t('tips.groups.tip_text')
      .message.info
        %h3= t('tips.groups.tip2')
        = tip_icon
        %p=t('tips.groups.tip2_text')
    #forum-tips{:style => 'display:none'}
      .message.info
        %h3= t('tips.forums.tip')
        = tip_icon
        %p=t('tips.forums.tip_text')
      .message.info
        %h3= t('tips.forums.tip2')
        = tip_icon
        %p=t('tips.forums.tip2_text')
    .preview