.content
  %h2.title=t('groups.plural')
  .inner
    = form_tag groups_path, :class => 'form', :method => 'get' do
      .small-box= text_field_tag :search, params[:search], :class => 'text_field'
      = submit_button(true) do
        =t('shared.search')
    %br
    %br
    - unless collection.blank?
      %table.table
        %tr
          %th.first
          %th= t('groups.name')
          %th= t('groups.leader')
          %th= t('members.plural')
          %th= t('documents.plural')
          %th= t('modules.plural')
        - collection.each do |resource|
          %tr{:class => cycle("odd","even")}
            %td.first=image_tag resource.image_url
            %td= link_to resource.name, resource
            %td= link_to resource.leader.name, profile_path(resource.leader)
            %td= resource.members_count
            %td= resource.documents_count
            %td= resource.modules_count
            
      .actions-bar.wat-cf
        .actions
        .pagination
          = paginate collection
    - else
      = t('groups.blank')