.main-content.grid_4.alpha
  %header
    %ul.action-buttons.clearfix.fr
      %li= loading_icon
    .view-switcher
      %h2
        = @filter.present? ? t("groups.#{@filter}") : t('groups.all')
        =link_to "&darr;", 'javascript:void(0)'
      %ul
        %li=link_to t('groups.all'), groups_path
        %li=link_to t('groups.my'), groups_path(:filter => 'my') if current_user
  %section
    = form_tag groups_path, :class => 'form', :method => 'get' do
      = hidden_field_tag :filter, @filter
      = text_field_tag :search, params[:search], :style => 'width:70%;margin:0px 10px 20px 10px'
      = search_button
    %br.clear
    = partial('list', :collection => collection, :filter => @filter)
= render_sidebar