.main-content.grid_4.alpha
  %header
    .view-switcher
      %h2
        = @filter ? t("groups.#{@filter}") : t('groups.all')
        =link_to "&darr;", 'javascript:void(0)'
      %ul
        %li=link_to t('groups.all'), groups_path
        %li=link_to t('groups.my'), my_groups_path
  %section
    - unless collection.blank?
      = form_tag groups_path, :class => 'form', :method => 'get' do
        = text_field_tag :search, params[:search], :style => 'width:70%;margin:0px 10px 20px 10px'
        = search_button
      %br.clear
      #infinite-scroll.none
      %ul.action-buttons.clearfix.fr
      %ul.listing.list-view.clearfix.endless{'data-page' => 1}
        - collection.each do |group|
          %li.group-list.clearfix
            .avatar= image_tag group.image_url
            = link_to "&raquo;", group_path(group), :class => "more"
            %span.timestamp= group.created_at.strftime("%b %d, %Y")
            = link_to group.name, group_path(group), :class => "name"
            .entry-meta
              = t('groups.led_by') 
              = link_to group.leader
    - else
      = t('groups.blank')