= uploadify
.main-content
  %header
    %h2= t('groups.create_your')
  %section.clearfix
    .grid_6
      #group-error.message.alert{:style => 'display:none'}=t('groups.name_taken')
      = simple_form_for(@group, :url => groups_path, :html => {:class => 'form grid_6'}, :remote => true) do |f|
        = f.input :name, :label_html => {:style => 'margin-left:-70px;margin-top:5px'}
        .spaced-left.spaced-top= loading_icon
        %br.clear
        %h3= t('groups.new_instructions')
        #new-docs
          #upload-error.message.alert{:style => 'display:none'}=t('documents.error')
          .center
            =file_field_tag "file"
            .hint-box= raw("#{t('custom_messages.file_maximum', :size => Document::MAXIMUM_FILE_SIZE_MB)}<br/>#{t('custom_messages.file_extensions')}")  
          %br.clear
          .doc-filters.center
            = link_to t('documents.select_from_uploaded'), "javascript:void(0)", :'data-target'=> 'collection-docs'
          %br.clear
          #complete{:style => 'display:none'}
            %h3= t('documents.completed')
            #files
        #collection-docs{:style => 'display:none'}
          .doc-filters.center
            = link_to t('documents.back_to_upload'), "javascript:void(0)", :'data-target'=> 'new-docs'
          - if @documents.present?
            %table.datatable.no-style.full{:style => 'color:black;width:110%'}
              %thead
                %tr
                  %th
                  %th=t('shared.type')
                  %th=t('documents.singular')
                  %th{:width => '20%'}=t('documents.uploaded_at')
              - @documents.each do |document|
                %tbody
                  %tr
                    %td= check_box_tag 'chosen_documents[]', document.id, false, :style => "width:20px;margin:0;float:none"
                    %td.type= document_icon_for(document, true)
                    %td= document.name
                    %td= document.created_at.strftime("%b %d, %Y")
            %br.clear
          - else
            .center= t('groups.documents.no_docs')
        = submit_button(:style => 'float:left !important;text-align:center;margin-left:170px') do
          = "#{t('shared.save')} #{t('groups.singular')}"
        .left.spaced-left.spaced-top= loading_icon