.main-content.grid_4.alpha
  %header.clearfix
    %span.custom-avatar=image_tag resource.image_url
    %hgroup
      %h2
        = resource.name
        %ul.action-buttons.clearfix.fr
          %li= action_button(t('forums.plural'), :forums, :path => group_forums_path(resource))
      %h4.spaced-top
        = t('groups.led_by')
        = link_to resource.leader, resource.leader
      %br
      %ul.action-buttons.clearfix
        - if current_user && current_user.leader_of?(resource)
          %li= action_button(t('shared.edit'), :edit, :path => edit_resource_url)
          %li= action_button("#{t('shared.manage')} #{t('groups.documents.plural')}", 'manage-documents', :path => group_documents_path(resource))
        - if current_user && !current_user.leader_of?(resource)
          - if current_user.member_of?(resource)
            =action_button(t('groups.leave'), :remove, :path => leave_group_path(resource), :method => :delete)
          - else
            =action_button(t('groups.join'), :key, :path => join_group_path(resource), :method => :post)
      %br.clear
      %h4
        %em=resource.description
      %br.clear
      .center=button_link_to t('documents.share'), "javascript:void(0)", :color => 'red'
  %section
    - if current_user && current_user.leader_of?(resource)
      = form_tag update_status_group_path(resource), :method => :put do
        = text_field_tag :status, resource.status, :maxlength => 100, :placeholder => t('groups.status'), :style => 'width:77%'
        = submit_button do
          =t('shared.update')
      %br.clear
      %br.clear
    - else
      %h3.center{:style => 'margin-top:0'}="\"#{resource.status}\"" if resource.status.present?
    .filters.center
      - options = {:type => :group, :id => resource.id}
      =button_link_to t('documents.plural'), "javascript:void(0)", :color => 'blue button-green', :'data-url' => documents_path(options)
      =button_link_to t('members.plural'), "javascript:void(0)", :color => 'blue', :'data-url' => users_path(options)
      =button_link_to t('groups.timeline'), "javascript:void(0)", :color => 'blue', :'data-url' => updates_path(options)
      %br
      %br
      =loading_icon
    #lists= partial('documents/list', {:collection => resource.documents}.merge(options))
    
=render_sidebar