.content
  %h2.title= resource.name
  .inner
    %p
      =image_tag resource.image_url, :class => 'left spaced'
      %em= resource.description
    %p  
      %strong= t('groups.leader')
      = link_to resource.leader.name, resource.leader
      
    - if user_signed_in? && !current_user.leader_of?(resource)
      - unless current_user.member_of?(resource)
        %p= button_to t('groups.join'), join_group_path
      - else
        %p= button_to t('groups.leave'), leave_group_path, :method => :delete
        
    - if user_signed_in? && current_user.leader_of?(resource)
      = render :partial => 'leader_menu'
    %br.clear
    %br.clear
    #tabs
      %ul
        %li=link_to t('modules.plural'), "#modules"
        %li=link_to t('documents.plural'), "#documents"
        %li=link_to t('members.plural'), "#members"
        %li=link_to t('shared.share'), "#share"
      #modules
        - unless resource.modules.blank?
          - resource.modules.each do |m|
            #module-box.ui-state-default
              .left
                %h2=m.name
                %p=m.description
              .right
                %h3.center=t('documents.plural')
                #doc-box.ui-state-active
                  - group_documents = m.group_documents.accepted
                  - unless group_documents.blank?
                    - group_documents.each do |group_document|
                      .doc.ui-state-hover
                        =image_tag 'avatar_small.png'
                        .name= group_document.name 
                        .options
                          - unless current_user.has_document?(group_document.document)
                            =link_to add_user_document_path(current_user,group_document.document), :method => :post do
                              %span.ui-icon.ui-icon-plusthick{:title => t('documents.add')}
                  - else
                    %p.center= t('modules.documents.blank')
                
            %br.clear
        - else
          %p=t('modules.blank')
      #members
        - unless resource.members.blank?
          = render :partial => 'users/list', :locals => {:users => resource.members.map(&:user)}
        - else
          %p=t('members.blank')
  
      #documents
        - unless resource.group_documents.accepted.blank?
          = render :partial => 'documents/list', :locals => {:documents => resource.group_documents.accepted.map(&:document)}
        - else
          %p=t('groups.documents.blank')
      #share
        - if user_signed_in? && current_user.member_of?(resource)
          %h1.center=t('groups.documents.share')
          .share-box.ui-state-default#search-box
            %h2.center=t('groups.documents.search')
            = form_tag group_documents_path(resource), :remote => true, :method => :get, :class => 'form' do
              .small_box= text_field_tag :search, '', :class => 'text_field'
              %button#search-button{:type => 'submit', :class => 'button small_button', :onclick => "$('#new-form').hide();$('#search-docs').show();$('#new-button').show()" }=t('shared.search')
              %button#new-button{:type => 'button', :class => 'button small_button', :onclick => "$('#new-form').show();$('#search-docs').hide();$(this).hide();" }=t('groups.documents.create')
              = loading_icon
              %br.clear
              #search-docs
            #new-form.none
              = simple_form_for(GroupDocument.new(:document => params[:document] || Document.new), :url => group_documents_path(resource), :html => {:class => :form, :multipart => true }) do |f|
                = render :partial => 'group_documents/form', :locals => {:f => f}
              %br.clear
          .share-box.ui-state-default#chosen-box
            %h2.center=t('groups.documents.chosen')
            %p#message.none=t('groups.documents.created')
            = form_tag add_multiple_group_documents_path(resource), :remote => true, :method => :post, :id => 'chosen-form', :class => 'form none' do
              ="#{t('modules.singular')}:"
              = select_tag "module", options_from_collection_for_select(resource.modules, :id, :name), :include_blank => t('groups.documents.no_module'), :class => 'select'
              = loading_icon
              %button{:type => 'submit', :class => 'button small_button right', :id => 'save' }=t('shared.save')
              #chosen-docs
              %br.clear
        -else
          %h1.center=t('groups.documents.must_be_member')
        %br.clear
= #content_for :sidebar, render(:partial => 'sidebar') if user_signed_in?      
