= content_for :javascripts do
  = javascript_include_tag 'history'
.main-content.grid_4.alpha
  %header.clearfix
    %span.custom-avatar=image_tag @group.image_url
    %hgroup
      %h2
        = @group.name
        %ul.action-buttons.clearfix.fr
          %li.history= action_button(t('forums.plural'), :forums, :path => group_forums_path(@group), :remote => true, :class => 'history')
      %h4.spaced-top
        = t('groups.led_by')
        = link_to @group.leader, @group.leader
      %br
      %ul.action-buttons.clearfix
        - if current_user && current_user.leader_of?(@group)
          %li= action_button(t('shared.edit'), :edit, :path => edit_group_path(@group))
          %li= action_button("#{t('shared.manage')} #{t('groups.documents.plural')}", 'manage-documents', :path => group_documents_path(@group), :remote => true, :class => 'history')
        - if current_user && !current_user.leader_of?(@group)
          - if current_user.member_of?(@group)
            =action_button(t('groups.leave'), :remove, :path => leave_group_path(@group), :method => :delete)
          - else
            =action_button(t('groups.join'), :key, :path => join_group_path(@group), :method => :post)
      %br.clear
      %h4
        %em=@group.description
      %br.clear
      .center=button_link_to t('documents.share'), new_document_path(:group_id => @group.id), :color => 'red overlay', :rel => "#overlay"
      %br
      .center=loading_icon
  %section
    #slide-content{:style => 'display:none'}
    #group-show
      - if current_user && current_user.leader_of?(@group)
        = form_tag update_status_group_path(@group), :method => :put do
          = text_field_tag :status, @group.status, :maxlength => 100, :placeholder => t('groups.status'), :style => 'width:77%'
          = submit_button do
            =t('shared.update')
        %br.clear
        %br.clear
      - else
        %h3.center{:style => 'margin-top:0'}="\"#{@group.status}\"" if @group.status.present?
      .filters.center
        - options = {:type => :group, :id => @group.id}
        =button_link_to t('documents.plural'), "javascript:void(0)", :color => 'blue button-green', :'data-url' => documents_path(options)
        =button_link_to t('members.plural'), "javascript:void(0)", :color => 'blue', :'data-url' => users_path(options)
        =button_link_to t('groups.timeline'), "javascript:void(0)", :color => 'blue', :'data-url' => updates_path(options)
        %br
        %br
      #lists= partial('documents/list', {:collection => @group.documents}.merge(options))
    
=render_sidebar('groups')