.preview-pane.grid_3.omega
  .content
    %h3= t('tips.self')
    .message.info
      %h3= t('tips.users.tip')
      = tip_icon
      %p=t('tips.users.tip_text')
    .message.info
      %h3= t('tips.users.tip2')
      = tip_icon
      %p=t('tips.users.tip2_text')
    
    .preview