%li.custom.clearfix
  .avatar= avatar_for(user)
  = link_to "&raquo;", user_path(user), :class => "more"
  %span.timestamp= user.created_at.strftime("%b %d, %Y")
  = link_to user, user_path(user), :class => "name"
  .entry-meta
    = user.name
    - if current_user && current_user != user
      %br
      - if current_user.following?(user)
        = action_button t('users.unfollow'), :remove, :path => unfollow_user_path(user), :method => :delete
      - else
        = action_button t('users.follow'), :add, :path => follow_user_path(user), :method => :post