%li.custom.clearfix
  .avatar= avatar_for(user)
  = link_to "&raquo;", user_path(user), :class => "more"
  %span.timestamp= user.created_at.strftime("%b %d, %Y")
  = link_to user, user_path(user), :class => "name"
  .entry-meta
    = user.name
    %br
    = partial 'actions', :user => user