.main-content.grid_4.alpha
  %header
    %ul.action-buttons.clearfix.fr
      %li= action_button(t('shared.profile'), :profile, :path => profile_path(current_user)) if current_user
    .view-switcher
      %h2
        = user_title_for(@filter)
        =link_to "&darr;", 'javascript:void(0)'
      %ul
        %li=link_to t('users.all'), users_path
        - if current_user
          %li=link_to t('users.following'), following_users_path
          %li=link_to t('users.followers'), followers_users_path
  %section
    = form_tag user_path_for(@filter), :class => 'form', :method => 'get' do
      = text_field_tag :search, params[:search], :style => 'width:70%;margin:0px 10px 20px 10px'
      = search_button
    %br.clear
    - unless collection.blank?
      #infinite-scroll.none
      %ul.listing.list-view.clearfix.endless{'data-url' => user_path_for(@filter)}
        = render collection
      .center= loading_icon
    - else
      = t('users.blank')
= render_sidebar