.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", users_path
  .content
    %h2.title= "#{t("web-app-theme.all", :default => "All")} Users" 
    .inner
      %table.table
        %tr
          %th= t("activerecord.attributes.user.name", :default => t("activerecord.labels.name", :default => "Name"))
          %th= t("web-app-theme.login", :default => "Login")
          %th.last= t("web-app-theme.email", :default => "Email")
        - @users.each do |user|
          %tr{:class => cycle("odd","even")}
            %td= link_to user.login, user_path(user)
            %td= user.name
            %td.last= user.email
      .actions-bar.wat-cf
        .actions
      	

- content_for :sidebar, render(:partial => 'sidebar')
