.content
  %h2.title= t('users.plural')
  .inner
    = form_tag users_path, :class => 'form', :method => 'get' do
      .small-box= text_field_tag :search, params[:search], :class => 'text_field'
      %button{:type => 'submit', :class => 'button small-button' }=t('shared.search')
    %br
    %br
    - unless collection.blank?
      %table.table
        %tr
          %th.first
          %th= t('users.login')
          %th= t('users.name')
          - if user_signed_in?
            %th.last
        - collection.each do |user|
          %tr{:class => cycle("odd","even")}
            %td.first= avatar_for user
            %td= link_to user.login, profile_path(user)
            %td= user.name
            - if user_signed_in? && current_user != user
              - if current_user.following?(user)
                %td= link_to t('users.unfollow'), unfollow_user_path(user), :method => :delete, :class => 'button' 
              - else
                %td= link_to t('users.follow'), follow_user_path(user), :method => :post, :class => 'button'
      .actions-bar.wat-cf
        .actions
        .pagination
          = paginate collection
    - else
      =t('users.blank')