.content
  %h2.title= t('users.plural')
  .inner
    = form_tag users_path, :class => 'form', :method => 'get' do
      .small_box= text_field_tag :search, params[:search], :class => 'text_field'
      %button{:type => 'submit', :class => 'button small_button' }=t('shared.search')
    %br
    %br
    - unless collection.all.blank?
      %table.table
        %tr
          %th.first
          %th= t('users.login')
          %th= t('users.name')
          %th.last= t('users.email')
        - collection.each do |user|
          %tr{:class => cycle("odd","even")}
            %td.first= gravatar_for user
            %td= link_to user.login, profile_path(user)
            %td= user.name
            %td= user.email
      .actions-bar.wat-cf
        .actions
        .pagination
          = paginate collection
    - else
      =t('users.blank')
- content_for :sidebar, render(:partial => 'sidebar') if user_signed_in?