.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", users_path
      %li.active= link_to "#{t("web-app-theme.new", :default => "New")}", new_user_path
  .content
    %h2.title= "#{t("web-app-theme.edit", :default => "New")} User"
    .inner
      - form_for @user, :url => user_path(@user), :html => { :class => :form } do |f|
        = render :partial => "form", :locals => {:f => f}
- content_for :sidebar, render(:partial => 'sidebar')       	
