.content
  %h2.title= resource.name
  %div{:style => 'margin:15px'}= gravatar_for resource unless resource.email.blank?
  .inner
    %p
      %strong=t('users.email')
      =resource.email
      
    - unless resource == current_user || !user_signed_in?
      - if current_user.following?(resource)
        %p= link_to t('users.unfollow'), unfollow_user_path(resource), :method => :delete 
      - else
        %p= link_to t('users.follow'), follow_user_path(resource), :method => :post
    
    -if resource == current_user
      .wat-cf
        = link_to t('shared.edit'), edit_profile_path, :class => "button"
        = link_to "#{t('shared.manage')} #{t('users.documents.uploaded.plural')}", user_documents_path(resource), :class => "button"
      
  #tabs
    %ul
      %li=link_to t('documents.plural'), "#documents"
      %li=link_to t('groups.plural'), "#groups"
      %li=link_to t('users.following'), "#following"
      %li=link_to t('users.followers'), "#followers"

    #documents
      - unless @user_documents.blank?
        = render :partial => 'documents/list', :locals => {:documents => @user_documents.map(&:document)}
      - else
        %p=t('users.documents.blank')
    #groups
      - unless @groups.blank?
        = render :partial => 'groups/list', :locals => {:groups => @groups}
      - else
        %p=t('users.groups.blank')
    #following
      - unless resource.following.blank?
        = render :partial => 'users/list', :locals => {:users => resource.following}
      - else
        %p=t('users.not_following')
    #followers
      - unless resource.followers.blank?
        = render :partial => 'users/list', :locals => {:users => resource.followers}
      - else
        %p=t('users.no_followers')
- content_for :sidebar, render(:partial => 'sidebar')
