.block
  .content
    %h2.title= resource.name
    = gravatar_for resource unless resource.email.blank?
    .inner
      %p
        %strong= "#{t("activerecord.attributes.user.email", :default => t("activerecord.labels.email", :default => "Email"))} :"
        =resource.email
        
      - unless resource == current_user || !user_signed_in?
        - if current_user.following?(resource)
          %p= link_to "Unfollow this user", unfollow_user_path(resource) 
        - else
          %p= link_to "Follow this user", follow_user_path(resource)
      
      
      .wat-cf
        = link_to "#{t("web-app-theme.edit", :default=> "Edit")}", edit_profile_path, :class => "button" if resource == current_user
- content_for :sidebar, render(:partial => 'sidebar')
