.login-box.main-content{:style => 'top:40%;'}
  %header
    %h2=t('devise.forgot_password')
  %section
    = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :put, :class => 'clearfix'}) do |f|    
      = f.input :reset_password_token, :as => :hidden
      = f.input :password, :hint => false, :required => true
      = f.input :password_confirmation, :required => true
      %p.clearfix
        = submit_button do
          = image_tag("icons/key.png") 
          = t 'devise.change_my_password'
    %br
    %br
    =render :partial => "devise/shared/links"