#box
  .block#block-login
    %h2=t 'devise.forgot_password'
    .content.login
      .flash
        - resource.errors.each do |field, message|
          .message{:class => 'error'}
            %p="#{field} #{message}".humanize
      = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post, :class => 'form login'}) do |f|    
        .group.wat-cf
          .left= f.label :email, :class => 'label right'
          .right= f.text_field :email, :class => 'text_field'
          %br  
          %br  
        .group.navform.wat-cf
          .right
            %button.button{:type => 'submit'}
              = image_tag("icons/key.png", :alt => "Login") 
              = t 'devise.send_me_password'    
        %br
        =render :partial => "devise/shared/links"