- if session[:omniauth]
  = render :partial => 'complete_registration'
- else
  #box
    #block-signup.block
      %h2= t 'shared.signup'
      .content
        =simple_form_for(resource,:as => resource_name,:url => registration_path(resource_name),:html =>{:class => 'form'}) do |f|
          =f.input :login 
          =f.input :name
          =f.input :email
          =f.input :password
          =f.input :password_confirmation
          .group.navform.wat-cf
            %button.button{:type => 'submit'}
              = image_tag("icons/tick.png", :alt => t('shared.signup')) 
              = t 'shared.signup'
            %br.clear  
            %br.clear
            - on_each_provider do |provider|
              = link_to image_tag("auth/signin_#{provider}.png", :title => t("auth.signin_#{provider}")), "/auth/#{provider}"
          
        =render :partial => "devise/shared/links"