.block
  .text Browse & discover
  .links
    = link_to 'groups', '#', :class => ''
    = link_to 'users', '#', :class => ''
    = link_to 'docs', '#', :class => ''

.separator
    
.block
  .text My stuff
  .links
    = link_to 'news feed', '#', :class => ''
    = link_to 'groups', '#', :class => ''
    = link_to 'docs', '#', :class => ''   

.separator

.block
  .locales
    .flag{:class => "#{current_locale == :pt ? 'active' : ''}"}= link_to image_tag('icons/pt.png', :style => 'margin-bottom:-8px'), url_for(params.merge(:locale => :pt)), :title => "Português"
    .flag{:class => "#{current_locale == :en ? 'active' : ''}"}= link_to image_tag('icons/en.png', :style => 'margin-bottom:-8px'), url_for(params.merge(:locale => :en)), :title => "English"
  .links
    = link_to '', '#', :class => '' 
    - pages = %w{ about}

.separator


