#user-navigation
  %ul.wat-cf
    - if user_signed_in?
      %li= link_to t("shared.profile"), profile_path(current_user)
      %li="#{t('layout.logged_in')} #{current_user}"
      %li= link_to t("shared.signout"), destroy_user_session_path, :class => "logout"
    - else
      %li= link_to t("shared.signup"), new_user_registration_path, :class => "login"
      %li= link_to t("shared.signin"), new_user_session_path, :class => "login"
      - on_each_provider do |provider|
        %li= link_to image_tag("auth/signin_#{provider}_small.png", :title => t("auth.signin_#{provider}")), "/auth/#{provider}"
#main-navigation
  %ul.wat-cf
    - items = user_signed_in? ? %w{home dashboard users groups documents} : %w{home users groups documents}
    - items.each do |type|
      - url = link_to t("#{type}.plural"), url_for(send(type+"_path"))
      - if controller_name == type
        %li.active=url
      - else
        %li=url
        