#user-navigation
  %ul.wat-cf
    - if user_signed_in?
      %li= link_to t("shared.profile"), profile_path(current_user)
      %li="#{t('layout.logged_in')} #{current_user}"
      %li= link_to t("shared.logout"), destroy_user_session_path, :class => "logout"
    - else
      %li= link_to t("shared.login"), new_user_session_path, :class => "login"
#main-navigation
  %ul.wat-cf
    - %w{dashboard users groups documents}.each do |type|
      - url = link_to t("#{type}.plural"), url_for(send(type+"_path"))
      - if controller_name == type
        %li.active=url
      - else
        %li=url
        