%h1=t('home.faq')
    
.block
  %h3= t('home.unlimited')
  .content
    %p= t('home.unlimited_text')
.block
  %h3= t('home.who')
  .content
    %p= t('home.who_text')
.block
  %h3= t('home.get')
  .content
    %p= t('home.get_text')   
.block
  %h3= t('home.social')
  .content
    %p= t('home.social_text')