.main-content
  %header
    %h2= t('home.welcome')
  %section.container_6.clearfix
    .grid_6
      .message.info.ac
        %h3 
          = t('home.get_started')
          - if current_user
            = link_to t('home.create_your'), new_group_path, :class => 'overlay', :rel => "#overlay"
          - else
            = link_to t('home.create_your'), new_group_path(:set_session => true)
        %p= t('home.box_desc')
    %hgroup.grid_6.ac
      %h2= t('home.header_title')
      %h4= t('home.header_desc')
    %figure.grid_2.ac
      = image_tag 'shots/shot1.jpg', :style => "border:1px solid #5F5F5F"
      %h3= t('home.shot1_title')
      %p= t('home.shot1_desc')
    %figure.grid_2.ac
      = image_tag 'shots/shot2.jpg'
      %h3= t('home.shot2_title')
      %p= t('home.shot2_desc')
    %figure.grid_2.ac
      = image_tag 'shots/shot3.jpg'
      %h3= t('home.shot3_title')
      %p= t('home.shot3_desc')
    .other-options.grid_6
      %h3.other= t('home.other')
      %ul
        %li
          =link_to "javascript:void(0)" do
            %h4= t('home.option1_title')
            %p= t('home.option1_desc')
          .tooltip.right
            = image_tag 'shots/shot1.jpg'
        %li
          = link_to "javascript:void(0)" do
            %h4= t('home.option2_title')
            %p= t('home.option2_desc')
          .tooltip.right
            = image_tag 'shots/shot2.jpg'
        %li
          = link_to "javascript:void(0)" do
            %h4= t('home.option3_title')
            %p= t('home.option3_desc')
          .tooltip.right
            = image_tag 'shots/shot3.jpg'
        %li
          = link_to "javascript:void(0)" do
            %h4= t('home.option4_title')
            %p= t('home.option4_desc')
          .tooltip.right
            = image_tag 'shots/shot1.jpg'
        
        