%li.custom.clearfix
  .avatar=link_to document_icon_for(document), document.file.url, :title => t('shared.click_to_download')
  = link_to "&raquo;", document_path(document), :class => "more"
  %span.timestamp= document.created_at.strftime("%b %d, %Y")
  = link_to document.name, document_path(document), :class => "name"
  .entry-meta
    = t('documents.uploader') 
    = link_to document.uploader, document.uploader
    - if user_signed_in?
      %br
      - unless current_user.has_document?(document)
        = action_button t('documents.add'), :add, :path => add_user_document_path(current_user, document), :method => :post
      - else
        = action_button t('documents.remove'), :remove, :path => remove_user_document_path(current_user, document), :method => :delete
      = action_button t('shared.edit'), :edit, :path => edit_user_document_path(current_user, document.id) if current_user.uploaded_document?(document)