%li.custom.clearfix
  .avatar=document_icon_for(document, false, :title => document.description)
  = link_to "&raquo;", document_path(document), :class => "more"
  %span.timestamp= document.created_at.strftime("%b %d, %Y")
  = link_to document.name, document_path(document), :class => "name"
  .entry-meta
    = t('documents.uploader') 
    = preview_link document.uploader, document.uploader
    %br.clear
    %br.clear
    .action-buttons
      = action_button t('documents.view'), :view, :path => view_document_path(document), :class => 'full_overlay', :rel => "#scribd_overlay"
      = partial 'documents/actions', :document => document
      = action_button t('shared.edit'), :edit, :path => edit_user_document_path(current_user, document.id) if current_user &&  current_user.uploaded_document?(document)