.content
  %h2.title=t('documents.plural')
  .inner
    = form_tag documents_path, :class => 'form', :method => 'get' do
      .small-box= text_field_tag :search, params[:search], :class => 'text_field'
      = search_button
    %br
    %br
    - unless collection.blank?
      %table.table
        %tr
          %th.first
          %th= t('documents.name')
          %th= t('documents.description')
          %th= t('documents.uploader')
        - collection.each do |resource|
          %tr{:class => cycle("odd","even")}
            %td.first
              =link_to document_icon_for(resource), resource.file_url, :title => t('shared.click_to_download')
              - if user_signed_in? && !current_user.has_document?(resource)
                = link_to t('shared.add'), add_user_document_path(current_user, resource), :method => :post, :class => "button spaced"
            %td= link_to resource.name, resource
            %td= resource.description
            %td= link_to resource.uploader, resource.uploader
      .actions-bar.wat-cf
        .actions
        .pagination
          = paginate collection
    - else
      = t('documents.blank')