.main-content.grid_4.alpha
  %header
    %ul.action-buttons.clearfix.fr
      %li= action_button(t('documents.new'), :add) if current_user
    .view-switcher
      %h2
        = document_title_for(@filter)
        =link_to "&darr;", 'javascript:void(0)'
      %ul
        %li=link_to t('documents.all'), documents_path
        - if current_user
          %li=link_to t('documents.my_documents'), user_documents_path(current_user)
          %li=link_to t('documents.uploaded'), uploaded_user_documents_path(current_user)
  %section
    = form_tag document_path_for(@filter), :class => 'form', :method => 'get' do
      = text_field_tag :search, params[:search], :style => 'width:70%;margin:0px 10px 20px 10px'
      = search_button
    %br.clear
    - unless collection.blank?
      #infinite-scroll.none
      %ul.listing.list-view.clearfix.endless{'data-url' => document_path_for(@filter)}
        = render :partial => "documents/document", :collection => @documents
      .center= loading_icon
    - else
      = t('documents.blank')
= render_sidebar