= uploadify
.main-content
  %header
    %h2= t('documents.add_your')
  %section.clearfix
    .grid_6
      %h3= t('documents.instructions')
      %br.clear
      #upload-error.message.alert{:style => 'display:none'}=t('documents.error')
      .center
        =file_field_tag "file"
        .hint-box= raw("#{t('custom_messages.file_maximum', :size => Document::MAXIMUM_FILE_SIZE_MB)}<br/>#{t('custom_messages.file_extensions')}")
        
      %br.clear
      %br.clear
      #complete{:style => 'display:none'}
        %h4.center=link_to t('documents.proceed'), documents_path(:filter => :my) 
        %h3= t('documents.completed')
        #files
        %br.clear
        %br.clear
