.main-content.grid_4.alpha
  %header.clearfix
    %span.custom-avatar=document_icon_for(resource)
    %hgroup
      %h2
        = resource.name
      %h4.spaced-top
        = t('documents.uploader')
        = link_to resource.uploader, resource.uploader
      %br
      %ul.action-buttons.clearfix
        - if current_user
          %li= action_button t('shared.edit'), :edit, :path => edit_user_document_path(current_user, resource.id) if current_user.uploaded_document?(resource)
          - unless current_user.has_document?(resource)
            %li= action_button t('documents.add'), :add, :path => add_user_document_path(current_user, resource), :method => :post, :remote => true, :class => "add-document-#{resource.id}"
          - else
            %li= action_button t('documents.remove'), :remove, :path => remove_user_document_path(current_user, resource), :method => :delete, :remote => true, :class => "remove-document-#{resource.id}"
      %br.clear
      %h4
        %em=resource.description
      %br.clear
      .center
        =button_link_to t('documents.view_this'), view_document_path(resource), :color => 'red full_overlay', :rel => "#scribd_overlay"      
      
  %section
    .filters.center
      - options = {:type => :document, :id => resource.id}
      =button_link_to t('groups.plural'), "javascript:void(0)", :color => 'blue button-green', :'data-url' => groups_path(options)
      =button_link_to t('users.plural'), "javascript:void(0)", :color => 'blue', :'data-url' => users_path(options)
      %br
      %br
      =loading_icon
    #lists= partial('groups/list', {:collection => resource.groups.order('created_at desc')}.merge(options))
    
=render_sidebar