#box
  .block#block-login
    %h2=t 'shared.signin'
    .content.login
      .flash
        - flash.each do |type, message|
          .message{:class => type}
            %p=message
      = form_for(resource, :as => resource_name, :url => user_session_path, :html => {:class => 'form login'}) do |f|       
        .group.wat-cf
          .left= f.label :login, :class => 'label right'
          .right= f.text_field :login, :class => 'text_field'
        
        .group.wat-cf
          .left= f.label :password, :class => 'label right'
          .right= f.password_field :password, :class => 'text_field'
          
        - if devise_mapping.rememberable?
          .right
            = f.check_box :remember_me, :class => 'checkbox'
            = f.label :remember_me   
          %br  
          %br  
        .group.navform.wat-cf
          .right
            %button.button{:type => 'submit'}
              = image_tag("icons/key.png", :alt => "Login") 
              = t 'shared.signin'
            %br.clear  
            %br.clear  
            = link_to image_tag('auth/signin_twitter.png', :title => t('auth.signin_twitter')), '/auth/twitter'
            = link_to image_tag('auth/signin_facebook.png', :title => t('auth.signin_facebook'), :style => 'margin-bottom:1px'), '/auth/facebook' 
        %br
        =render :partial => "devise/shared/links"    