= f.input :name
= f.input :description
%br      
.group.navform.wat-cf
  %button.button{:type => 'submit'}
    = image_tag("web-app-theme/tick.png", :alt => "#{t("web-app-theme.submit", :default => "Submit")}") 
    = t("web-app-theme.submit", :default => "Submit")
  = link_to "#{t("web-app-theme.back", :default => "Back")}", collection_url, :class => "button"   