.content
  %h2.title= resource.name
  .inner
    %p
      %em= resource.description
    %p  
      %strong= t('courses.teacher')
      = link_to resource.teacher.name, resource.teacher
      
    - if user_signed_in? && !current_user.teacher_of?(resource)
      - unless current_user.student_of?(resource)
        %p= button_to t('courses.enter'), enter_course_path
      - else
        %p= button_to t('courses.leave'), leave_course_path, :method => :delete
        
    - if user_signed_in? && current_user.teacher_of?(resource)
      = render :partial => 'teacher_menu'
    %br.clear
    %br.clear
    #tabs
      %ul
        %li=link_to t('courses.students'), "#students"
        %li=link_to t('courses.documents'), "#documents"
      #students
        - unless resource.students.blank?
          %ul.list
            - resource.students.each do |student|
              %li
                .left= link_to(gravatar_for(student.user), student.user)
                .item
                  %h3= link_to student.name, student.user
        - else
          %p=t('students.blank')
  
      #documents
        - unless resource.documents.blank?
          %ul.list
            - resource.documents.each do |document|
              %li
                .left
                  =link_to image_tag('avatar.png'), document.file_url, :title => t('shared.click_to_download')
                  %br
                .item
                  %h3=document.name
                  %p=document.description
        - else
          %p=t('documents.blank')
- content_for :sidebar, render(:partial => 'sidebar') if user_signed_in?      
