.block
  = render :partial => 'shared/breadcrumbs'
  .content
    %h2.title= resource.name
    .inner
      %p
        %strong= t('courses.description')
        = resource.description
      %p  
        %strong= t('courses.teacher')
        = link_to resource.teacher.name, resource.teacher
        
      - if user_signed_in? && !current_user.teacher_of?(resource)
        - unless current_user.student_of?(resource)
          %p= button_to t('courses.enter'), enter_course_path
        - else
          %p= button_to t('courses.leave'), leave_course_path, :method => :delete
          
      - if user_signed_in? && current_user.teacher_of?(resource)
        = link_to t('shared.edit'), edit_resource_url, :class => "button" 
        = link_to "#{t('shared.manage')}#{t('courses.documents')}", course_documents_path(resource), :class => "button"
      %br.clear
          
      %h3= t('courses.students')
      - unless resource.students.blank?
        %table.table
          %tr
            %th.first
            %th= t('students.name')
            %th= t('students.grade')
            %th.last 
          - resource.students.each do |student|
            %tr{:class => cycle("odd","even")}
              %td.first
              %td= link_to student.name, student.user
              %td= student.grade
              %td
      - else
        %p=t('students.blank')
      %br.clear
      
      %h3=t('courses.documents')
      - unless resource.documents.blank?
        
      - else
        %p=t('documents.blank')
      %br.clear
      
      
      
