.block.notice
  %h1.center= t('about.contact_us')
  .content
    %p= raw t('about.contact_text')
    =simple_form_for @contact_form, :url => about_path, :html => {:class => 'form'} do |f|
      = f.input :name
      = f.input :email
      = f.input :text, :as => :text
      .none= f.input :honeypot
      = submit_button do
        = image_tag("icons/tick.png", :alt => t('shared.submit')) 
        = t('shared.submit')
    %br.clear
    