<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Universitas</title>
	<%= stylesheet_link_tag "web_app_theme", "web_app_theme_override", "themes/default/style"%>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/">Universitas</a></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
          <% if user_signed_in?%>
            <li><%= link_to t("web-app-theme.profile", :default => "Profile"), profile_path(current_user)%></li>
			<li style="color:white">Logged in as <%=current_user%>
			<li><%= link_to t("web-app-theme.logout", :default => "Logout"), destroy_user_session_path, :class => "logout" %></li>
          <% else %>
          <li><%= link_to t("web-app-theme.login", :default => "Login"), new_user_session_path, :class => "login" %></li>
          <% end %>
        </ul>
      </div>      
      <div id="main-navigation">
        <ul class="wat-cf">
          <li class="active"><%= link_to "Users", users_path %></li>
        </ul>
      </div>
    </div>    
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
        <%= yield %>

      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>    
  </div>
<%= javascript_include_tag 'jquery/jquery-1.4.2.min' %>
<%= javascript_include_tag :all%>
</body>
</html>
