<!DOCTYPE html>
<html>
<head>
  <title>Universitas - <%= t('shared.app_description')%></title>
  <%= render :partial => 'shared/stylesheets'%>
  <%= yield :stylesheets %>
	<%= csrf_meta_tag %>
	<%= render :partial => 'shared/site_analytics'%>
</head>
<body>
  <div id="container">
    <div id="header">
      <a href="/"><%=image_tag 'logo.png', :class => 'left'%><h1>niversitas - <%= t('shared.app_description')%></a></h1>
      <%= render :partial => 'shared/user_navigation' %>
    </div>    
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="main" class="<%='full' if full_page?%>">
        <div class="block">
          <%=render :partial => 'shared/breadcrumbs'%>
          <%= yield %>
        </div>
        <div id="footer">
          <div class="block">
            <p><%=t('shared.copyright')%> &copy; <%= Time.now.year %> Universitas</p>
          </div>      
        </div>
      </div>
      <div id="sidebar">
        <%= render :partial => "#{controller.controller_name}/sidebar" if user_signed_in?%>
        <%= yield :sidebar %>
      </div>
    </div>    
  </div>
<%= render :partial => 'shared/javascripts'%>
<%= yield :javascripts %>
</body>
</html>
  