<!DOCTYPE html>
<html>
<head>
  <title>Universitas</title>
  <%= render :partial => 'shared/stylesheets'%>
  <%= yield :stylesheets %>
	<%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/">Universitas</a></h1>
      <%= render :partial => 'shared/user_navigation' %>
    </div>    
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p><%=t('shared.copyright')%>&copy; <%= Time.now.year %> Universitas</p>
          </div>      
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>    
  </div>
<%= render :partial => 'shared/javascripts'%>
<%= yield :javascripts %>
</body>
</html>
  