<!DOCTYPE html>
<html>
<head>
  <title>Universitas - <%= t('shared.app_description')%></title>
  <%= render :partial => 'shared/stylesheets'%>
  <%= yield :stylesheets %>
	<%= csrf_meta_tag %>
	<%= render :partial => 'shared/site_analytics'%>
</head>
<body>
  <div id="wrapper">
    <header>
        <div class="container_8 clearfix">
            <h1 class="grid_1"><a href="/">Universitas</a></h1>
            <%= render :partial => 'shared/user_navigation' %>
        </div>
    </header>
    <section>
        <div class="container_8 clearfix">
            <%= render :partial => 'shared/left_sidebar'%>
            <section class="main-section grid_7">
              <% flash.each do |type, message| -%>
                <div class="message <%= type %> center closeable">
                  <span class="message-close"></span>
                  <h3><%= message %></h3>
                </div>
              <% end -%>
              <%= yield %>
            </section>
        </div>
        <div id="push"></div>
    </section>
  </div>
  <footer>
      <div id="footer-inner" class="container_8 clearfix">
          <div class="grid_8">
              <%= raw(t('shared.footer_note'))%>
          </div>
      </div>
  </footer>
<%= render :partial => 'shared/javascripts'%>
<%= yield :javascripts %>
</body>
</html>
  