<!DOCTYPE html>
<html>
<head>
  <title>Universitas - <%= t('shared.app_description')%></title>
  <%= render :partial => 'shared/stylesheets'%>
  <%= csrf_meta_tag %>
  <%= render :partial => 'shared/site_analytics'%>
</head>
<body class="login">
  <div id="wrapper">
    <header>
        <div class="container_8 clearfix">
            <h1 class="grid_1"><a href="/">Universitas</a></h1>
            <%= render :partial => 'shared/user_navigation' %>
        </div>
    </header>
    <%= yield %>
  </div>
  <footer>
      <div id="footer-inner" class="container_8 clearfix">
          <div class="grid_8">
              <%= raw(t('shared.footer_note'))%>
          </div>
      </div>
  </footer>
<%= render :partial => 'shared/javascripts'%>
<%= yield :javascripts %>
</body>
</html>
