<!DOCTYPE html>
<html>
<head>
<title>Universitas - <%= t('shared.app_description')%></title>
  <%= render :partial => 'shared/stylesheets'%>
  <%= csrf_meta_tag %>
  <%= render :partial => 'shared/site_analytics'%>
</head>
<body>
  <div id="container">
    <div id="header">
      <a href="/"><%=image_tag 'logo.png', :class => 'left'%><h1>niversitas - <%= t('shared.app_description')%></a></h1>
      <%= render :partial => 'shared/user_navigation' %>
    </div>   
    <div id="box">
      <%= yield %>            
    </div>
    <div id="footer">
      <div class="block">
        <p><%=t('shared.copyright')%> &copy; <%= Time.now.year %> Universitas</p>
      </div>      
    </div>
  </div>
</body>
</html>
